body{
    background-color: #307622;
    color: lavenderblush;
}
p{
    color: black;
}
h1{
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px lavenderblush, 0 0;
}